// ------------------------------------------------------------
// container 公用样式
// ------------------------------------------------------------
// @param $gutter-list 列间距的列表

@mixin layout-container-common(){
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  @include clearfix;
}


// ------------------------------------------------------------
// Container-full
// ------------------------------------------------------------
// container-full 是100%宽度的container

.container-full {
  @include layout-container-common;
}


// ------------------------------------------------------------
// Container
// ------------------------------------------------------------

.container {
  @include layout-container-common;

  // 依次设置每种screen
  @each $screen, $width in $global-breakpoints {
    @media screen and (min-width: $width) {
      width: $width;
    }
  }
}
