// ------------------------------------------------------------
// 媒体查询的断点
// ------------------------------------------------------------

$breakpoints: (
  md: 64em,    // 1024px
  lg: 75em,    // 1200px
  xl: 87.5em,  // 1400px
) !global;