// ------------------------------------------------------------
// @mixin container 公用样式
// ------------------------------------------------------------

@mixin tim-container-common(){
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  @include clearfix;
}


// ------------------------------------------------------------
// Container-fluid
// ------------------------------------------------------------
// container-fluid 是100%宽度的container

.container-fluid {
  @include tim-container-common;
}


// ------------------------------------------------------------
// Container
// ------------------------------------------------------------

.container {
  @include tim-container-common;

  // 依次设置每种screen
  @each $screen, $width in $global-breakpoints {
    @media screen and (min-width: $width) {
      width: $width;
    }
  }
}
