@import "_margin.mixins.scss";

// ------------------------------------------------------------
// 固定设置的一些 margin
// ------------------------------------------------------------

$margin-settings: (
  '-auto': auto,
  '-0''': 0,
);

@each $suffix, $val in $margin-settings {
  @include tim-margin-top($suffix, $val);
  @include tim-margin-bottom($suffix, $val);
  @include tim-margin-left($suffix, $val);
  @include tim-margin-right($suffix, $val);
  @include tim-margin-x($suffix, $val);
  @include tim-margin-y($suffix, $val);
}


// ------------------------------------------------------------
// 水平方向的margin
// ------------------------------------------------------------

$margin-x-spacer: 2%;  // 1个margin水平单位

$margin-x-settings: (
  '': $margin-x-spacer,
  '-1': $margin-x-spacer * 1.5,
  '-2': $margin-x-spacer * 2,
);

@each $suffix, $val in $margin-x-settings {
  @include tim-margin-left($suffix, $val);
  @include tim-margin-right($suffix, $val);
  @include tim-margin-x($suffix, $val);
}


// ------------------------------------------------------------
// 垂直方向的margin
// ------------------------------------------------------------

$margin-y-spacer: rem(1);  // 1个margin垂直单位

$margin-y-settings: (
  '': $margin-y-spacer,
  '-1': $margin-y-spacer * 1.5,
  '-2': $margin-y-spacer * 2,
);

@each $suffix, $val in $margin-y-settings {
  @include tim-margin-top($suffix, $val);
  @include tim-margin-bottom($suffix, $val);
  @include tim-margin-y($suffix, $val);
}
