// form 的fontsize和lineheight
$fontsize-form: $fontsize-base;
$lineheight-form: $fontsize-base * 1.2;

// input-tips 的fontsize和lineheight
$fontsize-input-tips: $fontsize-base * 0.8;
$lineheight-input-tips: $fontsize-base;

// input-notify 的fontsize和lineheight
$fontsize-input-notify: $fontsize-base * 0.8;
$lineheight-input-notify: $fontsize-base;
