// ------------------------------------------------------------
// @mixin grid-container 公用样式
// ------------------------------------------------------------
// @param $gutter-list 列间距的列表

@mixin grid-container-common(
  $gutter-list: $grid-gutter-list
){
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  // gutter设置开始
  @each $gutter-name, $gutter-width in $gutter-list {
    @if $gutter-name == default {
        padding-left:  ($gutter-width / -2);
        padding-right: ($gutter-width / -2);
    } @else {
      &.#{$gutter-name} {
        padding-left:  ($gutter-width / -2);
        padding-right: ($gutter-width / -2);
      }
    }
  }
  // gutter设置结束

  @include clearfix;
}


// ------------------------------------------------------------
// grid-container-full
// ------------------------------------------------------------
// grid-container-full 是100%宽度的container

.grid-container-full {
  @include grid-container-common;
}


// ------------------------------------------------------------
// grid-container
// ------------------------------------------------------------

.grid-container {
  @include grid-container-common;

  // 依次设置每种screen
  @each $screen, $width in $global-breakpoints {
    @media screen and (min-width: $width) {
      width: $width;
    }
  }
}
