// Generical
$color-primary: #60b000 !default;
$color-secondary: #000 !default;
$color-success: #60b000 !default;
$color-warning: #f7ba45 !default;
$color-error: #f03c69 !default;
$color-focus: #1c86f2 !default;

// Text
$color-heading: #0d0d0d !default;
$color-text: #303336 !default;
$color-text-highlight: #FFFF66 !default;
$color-text-link: #3794de !default;

// Links
$color-link: #3794de !default;
$color-link-hover: #f03c69 !default;

// Button
$color-button: #1c86f2 !default;
$color-button-text: #fff !default;
$color-button-hover: #313439 !default;
$color-button-hover-text: #fff !default;
