// ------------------------------------------------------------
// 生成 col
// ------------------------------------------------------------

@mixin layout-make-col(
  $gutter-list: $layout-gutter-list
){
  position: relative;
  min-height: 1px;
  float: left;
  overflow: hidden;
  width: 100%;

  // ------------------------------
  // 设置gutter
  @each $gutter-name, $gutter-width in $gutter-list {
    @if $gutter-name == default {
        margin-left:  ($gutter-width / 2);
        margin-right: ($gutter-width / 2);
    } @else {
      .#{$gutter-name} & {
        margin-left:  ($gutter-width / 2);
        margin-right: ($gutter-width / 2);
      }
    }
  }

  // ------------------------------
  // 设置等高列
  //
  // 需要对col所在的row或者container设置一个match-height类，如下：
  // <div class="row match-height">
  //   <div class="col"></div>
  //   <div class="col"></div>
  //   <div class="col"></div>
  // </div>
  .match-height & {
    margin-bottom: -9999px;
    padding-bottom: 9999px;
  }
}


// ------------------------------------------------------------
// Col
// ------------------------------------------------------------

.col {
  @include layout-make-col;
}

