// ------------------------------------------------------------
// Reset
// ------------------------------------------------------------

// 重置所有 box-sizing 为 border-box

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

// ------------------------------------------------------------
// Container
// ------------------------------------------------------------

// container-fluid 是100%宽度的container

.container-fluid {
  @include layout-container-common;
}

// container 的宽度

.container {
  @include layout-container-common;

  // 依次设置每种screen
  @each $key, $width in $layout-breakpoints {
    @media screen and (min-width: $width) {
      width: $width;
    }
  }
}


// ------------------------------------------------------------
// Row
// ------------------------------------------------------------

.row {
  @include layout-make-row;
}


// ------------------------------------------------------------
// Col
// ------------------------------------------------------------
.col {
  @include layout-make-col;
}

// ------------------------------------------------------------
// Grid
// ------------------------------------------------------------

// 用媒体查询生成网格

// 默认screen
@media screen {
  @include layout-make-grid(default, $layout-columns-list);
  @include layout-make-push(default, $layout-columns-list);
  @include layout-make-pull(default, $layout-columns-list);
  @include layout-make-offset(default, $layout-columns-list);
}

// 依次设置每种screen类型
@each $key, $width in $layout-breakpoints {
  @media screen and (min-width: $width) {
    @include layout-make-grid($key, $layout-columns-list);
    @include layout-make-push($key, $layout-columns-list);
    @include layout-make-pull($key, $layout-columns-list);
    @include layout-make-offset($key, $layout-columns-list);
  }
}

