$grid-gutter-width : 1em !default;

$screen-sm-min : 40em !default;
$container-sm :  40em !default;

$screen-md-min : 64em !default;
$container-md :  64em !default;

$screen-lg-min : 80em !default;
$container-lg :  80em !default;

$grid-columns: 12 !default;


/// -----------------------------------------------------------------------
/// Reset
/// -----------------------------------------------------------------------

/// 重置所有 box-sizing 为 border-box

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/// -----------------------------------------------------------------------
/// Container
/// -----------------------------------------------------------------------

/// .container居中
///
/// @param {em} $gutter 两列之间的间距

@mixin container-fixed(
  $gutter: $grid-gutter-width
){
  margin-right: auto;
  margin-left: auto;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);
  @include clearfix;
}

/// container-fluid 是100%宽度的container

.container-fluid {
  @include container-fixed;
}

/// container 的宽度

.container {
  @include container-fixed;

  // 依次设置每种screen
  @each $key, $width in $layout-breakpoints {
    @media screen and (min-width: $width) {
      width: $width;
    }
  }
}


/// -----------------------------------------------------------------------
/// Row
/// -----------------------------------------------------------------------

/// 生成 row
@mixin make-row(
  $gutter: $grid-gutter-width
){
  margin-left:  ($gutter / -2);
  margin-right: ($gutter / -2);
  @include clearfix;
}

/// row
.row {
  @include make-row;
}


/// -----------------------------------------------------------------------
/// Col
/// -----------------------------------------------------------------------

@mixin make-col(
  $gutter: $grid-gutter-width
) {
  .col {
    position: relative;
    // Prevent columns from collapsing when empty
    min-height: 1px;
    // Inner gutter via padding
    padding-left:  ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
    float: left;
  }
}

@include make-col;

/// -----------------------------------------------------------------------
/// Grid
/// -----------------------------------------------------------------------

/// 生成对应的grid宽度值
///
/// 生成：
///
/// 如果 $name == default
/// grid
/// grid-2-1 {width:}
/// grid-3-1 {width:} grid-3-2 {}
/// grid-4-1 {width:} grid-4-2 {} grid-4-3 {}
///
/// 如果 $name == md
/// grid--md
/// grid-2-1--md {width:}
/// grid-3-1--md {width:} grid-3-2--md {}
/// grid-4-1--md {width:} grid-4-2--md {} grid-4-3--md {}

@mixin make-grid($name, $list) {
  $key: "--#{$name}";
  @if $name == default {
    $key: "";
  }
  @each $columns in $list {
    @for $i from 1 through $columns {
      $class: ".grid-#{$columns}-#{$i}#{$key}";
      #{$class} {
        width: percentage($i / $columns);
      }
    }
  }
}

// 用媒体查询生成网格
@import "./_media_query.scss";
