/// -----------------------------------------------------------------------
/// 所有的 columns 的名称
///
/// 生成：
/// .unit-1, .unit-1--md, .unit-1--lg, .unit-1--xl,
/// ...
/// .unit-20, .unit-20--md, .unit-20--lg, .unit-20--xl,
/// .sixth-1, .sixth-1--md, .sixth-1--lg, .sixth-1--xl,
/// ...
/// .sixth-6, .sixth-6--md, .sixth-6--lg, .sixth-6--xl
@function all-columns-list(
  $keys: $layout-breakpoints
) {
  $columns: '';

  // 20列系列
  @for $i from 1 through 20 {
    $columns: "#{$columns}.unit-#{$i},";

    @each $key, $width in $keys {
      $columns: "#{$columns}.unit-#{$i}--#{$key},";
    }
  }

  // 6列系列
  @for $i from 1 through 6 {
    $columns: "#{$columns}.sixth-#{$i},";

    @each $key, $width in $keys {
      $columns: "#{$columns}.sixth-#{$i}--#{$key},";
    }
  }

  // 返回
  @return $columns;
}


/// -----------------------------------------------------------------------
/// 20列的宽度，无gutter
///
/// 生成：
/// unit-1 { width:  5% }  或 unit-1--md { width:  5%} 等等
/// unit-2 { width: 10% }  或 unit-2--md { width: 10%} 等等
///
/// @param {string} $media-type 媒体类型。一般为 md,lg,xl 等。
@mixin unit-width--no-gutter(
  $media-type: null
)
{
  @for $i from 1 through 20 {
    // 先确定目标类的类名
    $classname: "unit-";
    @if $media-type == null {
      $classname: ".unit-#{$i}";
    }
    @else {
      $classname: ".unit-#{$i}--#{$media-type}";
    }

    // 生成定义
    #{$classname} {
      @if $i < 20 {
        width: 5% * $i;
      }
      @else {
        width: 100%;
      }
    }
  }
}


/// -----------------------------------------------------------------------
/// 6列的宽度，无gutter
///
/// 生成：
/// sixth-1 { width: 16.66666% }  或 sixth-1--md { width: 16.66666%} 等等
/// sixth-2 { width: 33.33333% }  或 sixth-2--md { width: 33.33333%} 等等
///
/// @param {string} $media-type 媒体类型。一般为 md,lg,xl 等。
@mixin sixth-width--no-gutter(
  $media-type: null
)
{
  $value: (
    16.66666%,
    33.33333%,
    50%,
    66.66666%,
    83.33333%,
    100%
  );

  @for $i from 1 through 6 {
    // 先确定目标类的类名
    $classname: "sixth-";
    @if $media-type == null {
      $classname: ".sixth-#{$i}";
    }
    @else {
      $classname: ".sixth-#{$i}--#{$media-type}";
    }

    // 生成定义
    #{$classname} {
      width: nth($value , $i);
    }
  }
}
