// ------------------------------------------------------------
// 生成 row
// ------------------------------------------------------------

@mixin layout-make-row(
  $gutter-list: $layout-gutter-list
){
  // gutter设置开始
  @each $gutter-name, $gutter-width in $gutter-list {
    @if $gutter-name == default {
        margin-left: ($gutter-width / -2);
        margin-right: ($gutter-width / -2);
    } @else {
      .#{$gutter-name} & {
        margin-left: ($gutter-width / -2);
        margin-right: ($gutter-width / -2);
      }
    }
  }
  // gutter设置结束

  @include clearfix;
}


// ------------------------------------------------------------
// Row
// ------------------------------------------------------------

.row {
  @include layout-make-row;
}