// 媒体查询的断点
$layout-breakpoints: (
  md: 64em,    // 1024px
  lg: 75em,    // 1200px
  xl: 87.5em,  // 1400px
) !global;

// 默认的两列之间的间隙宽度
$grid-col-gutter: 1% !global;
$grid-six-gutter: 2% !global;

// 20列响应式的两列之间的间隙宽度
$grid-gutters: (
  md: 1%,
  lg: 1%,
  xl: 1%,
) !global;
