// ------------------------------------------------------------
// h1-h6
// ------------------------------------------------------------
// h1 article级的标题
// h2 section级的标题
// h3 paragraph级的标题
// h4 sub-paragraph级的标题
// h5 属于正文的一部分，比正文高二级
// h6 属于正文的一部分，比正文高一级
// .heading 文章标题
// .subheading 文章副标题

h1,h2,h3,h4,
.heading, .subheading {
  font-weight: bold;
  color: $color-heading;
}

h5,h6 {
  font-weight: bold;
  color: $color-text;
}

h1 {font-size: $fontsize-h1; line-height: $lineheight-h1;}
h2 {font-size: $fontsize-h2; line-height: $lineheight-h2;}
h3 {font-size: $fontsize-h3; line-height: $lineheight-h3;}
h4 {font-size: $fontsize-h4; line-height: $lineheight-h4;}
h5 {font-size: $fontsize-h5; line-height: $lineheight-h5;}
h5 {font-size: $fontsize-h6; line-height: $lineheight-h6;}

.heading {font-size: $fontsize-h1; line-height: $lineheight-h1;}
.subheading {font-size: $fontsize-h1 * 0.8; line-height: $lineheight-h1 * 0.8;}

h1 small,
h1 .small {
  font-size: $fontsize-h1 * 0.8;
}