// 文字的基准字体大小
$fontsize-base: rem(1);

// h1-h6的字体大小
$fontsize-h1: $fontsize-base * 2;
$fontsize-h2: $fontsize-base * 1.8;
$fontsize-h3: $fontsize-base * 1.6;
$fontsize-h4: $fontsize-base * 1.5;
$fontsize-h5: $fontsize-base * 1.2;
$fontsize-h6: $fontsize-base * 1.1;

// h1-h6的行高
$lineheight-h1: $fontsize-h1 * 1.1;
$lineheight-h2: $fontsize-h2 * 1.5;
$lineheight-h3: $fontsize-h3 * 1.5;
$lineheight-h4: $fontsize-h4 * 1.5;
$lineheight-h5: $fontsize-h5 * 1.1;
$lineheight-h6: $fontsize-h6 * 1.1;

// p的字体大小
$fontsize-p: $fontsize-base;

// p的行高
$lineheight-p: $fontsize-base * 1.8;
