// ------------------------------------------------------------
// @mixin tim-container-common() 公用样式
// ------------------------------------------------------------

@mixin tim-container-common(){
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  @include clearfix;
}


// ------------------------------------------------------------
// @mixin tim-make-row-colspacing()
// ------------------------------------------------------------

@mixin tim-make-row-colspacing($classname, $width) {
  .row#{$classname} {
    margin-left: ($width / -2);
    margin-right: ($width / -2);
    @include clearfix;
  }
}


// ------------------------------------------------------------
// @mixin tim-make-row-rowspacing()
// ------------------------------------------------------------

@mixin tim-make-row-rowspacing($classname, $height) {
  @if ($classname == '') {
    .grid {
      margin-bottom: $height;
    }
  }
  @else {
    #{$classname} > .grid {
      margin-bottom: $height;
    }
  }
}


// ------------------------------------------------------------
// @mixin tim-make-grid()
// ------------------------------------------------------------
// 1. 限定背景只显示在内容区域，不显示在padding设置的colspacing区域

@mixin tim-make-grid($colspacingclass, $colspacingwidth) {
  @if ($colspacingclass == '') {
    .grid {
      position: relative;
      min-height: 1px;
      float: left;
      overflow: hidden;
      background-clip: content-box;   // 1
      padding-left: $colspacingwidth / 2;
      padding-right: $colspacingwidth / 2;
    }
  }
  @else {
    #{$colspacingclass} > .grid {
      position: relative;
      min-height: 1px;
      float: left;
      overflow: hidden;
      background-clip: content-box;   // 1
      padding-left: $colspacingwidth / 2;
      padding-right: $colspacingwidth / 2;
    }
  }
}


// ------------------------------------------------------------
// 生成对应的width
// ------------------------------------------------------------
// $cols 总列数
// $list 子列数列表。(1,3,5)只生成1列、3列、5列，或者all
// $screen 屏幕类型。sm，lg之类
//
@mixin tim_grid_width($cols, $list:'all', $screen:'') {
  $postfix: "--#{$screen}";

  @if ($screen == '') {
    $postfix: '';
  }

  @if ($list == 'all') {
    $list: ();
    @for $i from 1 through $cols {
      $list: append($list, $i, comma);
    }
  }

  @each $i in $list {
    @if ($i <= $cols) {
      .w-#{$cols}-#{$i}#{$postfix} {
        width: percentage($i / $cols);
      }
    }
  }
}

// ------------------------------------------------------------
// 生成对应的offset
// ------------------------------------------------------------
// $cols 总列数
// $list 子列数列表。(1,3,5)只生成1列、3列、5列，或者all
// $screen 屏幕类型。sm，lg之类
//
// 注意：最多只到 offset-4-3, 没有 offset-4-4 这种
//
@mixin tim_grid_offset($cols, $list:'all', $screen:'') {
  $postfix: "--#{$screen}";

  @if ($screen == '') {
    $postfix: '';
  }

  @if ($list == 'all') {
    $list: ();
    @for $i from 1 to $cols {
      $list: append($list, $i, comma);
    }
  }

  @each $i in $list {
    @if ($i < $cols) {
      .offset-#{$cols}-#{$i}#{$postfix} {
        margin-left: percentage( $i / $cols);
      }
    }
  }
}

// ------------------------------------------------------------
// 生成对应的push
// ------------------------------------------------------------
// $cols 总列数
// $list 子列数列表。(1,3,5)只生成1列、3列、5列，或者all
// $screen 屏幕类型。sm，lg之类
//
// 注意：最多只到 push-4-3, 没有 push-4-4 这种
//
@mixin tim_grid_push($cols, $list:'all', $screen:'') {
  $postfix: "--#{$screen}";

  @if ($screen == '') {
    $postfix: '';
  }

  @if ($list == 'all') {
    $list: ();
    @for $i from 1 to $cols {
      $list: append($list, $i, comma);
    }
  }

  @each $i in $list {
    @if ($i < $cols) {
      .push-#{$cols}-#{$i}#{$postfix} {
        left: percentage( $i / $cols);
      }
    }
  }
}

// ------------------------------------------------------------
// 生成对应的pull
// ------------------------------------------------------------
// $cols 总列数
// $list 子列数列表。(1,3,5)只生成1列、3列、5列，或者all
// $screen 屏幕类型。sm，lg之类
//
// 注意：最多只到 pull-4-3, 没有 pull-4-4 这种
//
@mixin tim_grid_pull($cols, $list:'all', $screen:'') {
  $postfix: "--#{$screen}";

  @if ($screen == '') {
    $postfix: '';
  }

  @if ($list == 'all') {
    $list: ();
    @for $i from 1 to $cols {
      $list: append($list, $i, comma);
    }
  }

  @each $i in $list {
    @if ($i < $cols) {
      .pull-#{$cols}-#{$i}#{$postfix} {
        right: percentage( $i / $cols);
      }
    }
  }
}
