// ------------------------------------------------------------
// @mixin tim-container-common() 公用样式
// ------------------------------------------------------------

@mixin tim-container-common(){
  margin-right: auto;
  margin-left: auto;
  overflow: hidden;

  @include clearfix;
}


// ------------------------------------------------------------
// @mixin tim-make-row-colspacing()
// ------------------------------------------------------------

@mixin tim-make-row-colspacing($classname, $width) {
  .row#{$classname} {
    margin-left: ($width / -2);
    margin-right: ($width / -2);
    @include clearfix;
  }
}


// ------------------------------------------------------------
// @mixin tim-make-row-rowspacing()
// ------------------------------------------------------------

@mixin tim-make-row-rowspacing($classname, $height) {
  @if ($classname == '') {
    .grid {
      margin-bottom: $height;
    }
  }
  @else {
    #{$classname} > .grid {
      margin-bottom: $height;
    }
  }
}


// ------------------------------------------------------------
// @mixin tim-make-grid()
// ------------------------------------------------------------
// 1. 限定背景只显示在内容区域，不显示在padding设置的colspacing区域

@mixin tim-make-grid($colspacingclass, $colspacingwidth) {
  @if ($colspacingclass == '') {
    .grid {
      position: relative;
      min-height: 1px;
      float: left;
      overflow: hidden;
      background-clip: content-box;   // 1
      padding-left: $colspacingwidth / 2;
      padding-right: $colspacingwidth / 2;
    }
  }
  @else {
    #{$colspacingclass} > .grid {
      position: relative;
      min-height: 1px;
      float: left;
      overflow: hidden;
      background-clip: content-box;   // 1
      padding-left: $colspacingwidth / 2;
      padding-right: $colspacingwidth / 2;
    }
  }
}


// ------------------------------------------------------------
// @mixin tim-make-grid-width()
// ------------------------------------------------------------

@mixin tim-make-grid-width($columncount) {
  @for $i from 1 through $columncount {
    $map: ".w-#{$columncount}-#{$i}";
    @each $screen, $val in $breakpoints {
      $map: append($map, ".w-#{$columncount}-#{$i}--#{$screen}", comma);
    }

    #{$map} {
      width: percentage( $i / $columncount);
    }
  }
}


// ------------------------------------------------------------
// tim-make-grid-push，生成对应的push
// ------------------------------------------------------------
//
// 注意：最多只到 push-4-3, 没有 push-4-4 这种

@mixin tim-make-grid-push($columncount) {
  @for $i from 1 to $columncount {
    $map: ".push-#{$columncount}-#{$i}";
    @each $screen, $val in $breakpoints {
      $map: append($map, ".push-#{$columncount}-#{$i}--#{$screen}", comma);
    }

    #{$map} {
      left: percentage( $i / $columncount);
    }
  }
}


// ------------------------------------------------------------
// tim-make-grid-pull，生成对应的pull
// ------------------------------------------------------------
//
// 注意：最多只到 pull-4-3, 没有 pull-4-4 这种

@mixin tim-make-grid-pull($columncount) {
  @for $i from 1 to $columncount {
    $map: ".pull-#{$columncount}-#{$i}";
    @each $screen, $val in $breakpoints {
      $map: append($map, ".pull-#{$columncount}-#{$i}--#{$screen}", comma);
    }

    #{$map} {
      right: percentage( $i / $columncount);
    }
  }
}


// ------------------------------------------------------------
// tim-make-grid-offset，生成对应的offset
// ------------------------------------------------------------
//
// 注意：最多只到 offset-4-3, 没有 offset-4-4 这种

@mixin tim-make-grid-offset($columncount) {
  @for $i from 1 to $columncount {
    $map: ".offset-#{$columncount}-#{$i}";
    @each $screen, $val in $breakpoints {
      $map: append($map, ".offset-#{$columncount}-#{$i}--#{$screen}", comma);
    }

    #{$map} {
      margin-left: percentage( $i / $columncount);
    }
  }
}
