// ------------------------------------------------------------
// 网格列数列表
// ------------------------------------------------------------
// 常用的有：2列,3列,4列,5列,6列,7列,8列,9列,10列,12列,20列
// 可根据需要裁剪。

$grid-columncount-list: 12,5,7;


// ------------------------------------------------------------
// Gutters列表--网格的水平间距
// ------------------------------------------------------------
// 用法：
// <div class="row colspacing-xx">
// </div>

$grid-colspacing-list: (
  '': 2.5%,                 // 默认colspacing
  '.colspacing-0' : 0,      // 不要列间距
  ".colspacing-s" : 1%,     // 稍小一点的colspacing
  ".colspacing-x" : 3%,     // 稍大一点的colspacing
  ".colspacing-xx" : 5%,    // 更大一点的colspacing
);


// ------------------------------------------------------------
// Rowspacing列表--网格的行间距
// ------------------------------------------------------------
// 用法：
// <div class="row rowspacing-s">
// </div>

$grid-rowspacing-list: (
  '': rem(1.5),             // 默认rowspacing
  '.rowspacing-0': 0,       // 无行间距
  '.rowspacing-s': rem(1),  // 稍小一点的rowspacing
  '.rowspacing-x': rem(2),  // 稍大一点的rowspacing
  '.rowspacing-xx': rem(3), // 更大一点的rowspacing
);
