// ------------------------------------------------------------
// .floor
// ------------------------------------------------------------
.floor {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;

  // 清除浮动
  @include clearfix();
}

// 响应式
@each $screen, $width in $breakpoints {
  @media screen and (min-width: $width) {
    .floor {
      width: $width;
    }
  }
}

// ------------------------------------------------------------
// .floor.fluid
// ------------------------------------------------------------
// 100%宽度
.floor.fluid {
  width: 100%;
}


// ------------------------------------------------------------
// .area
// ------------------------------------------------------------
.area {
  position: relative;
  display: block;
}


// ------------------------------------------------------------
// .layer
// ------------------------------------------------------------
.layer {
  position: absolute;
}